<!DOCTYPE html>
<html>
<head>
<title>Home: Alpha Blog</title>
</head>
<body>

<h1 style="font-family:courier;text-align:center;">This is muh HOME PAGE</h1>

<h2 style="font-family:courier;text-align:center;">Yeah, HOME PAGE</h2>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>

</body>
</html>
