<!DOCTYPE html>
<html>
<head>
<title>Home: Alpha Blog</title>
</head>
<body>

<h1 style="font-family:courier;text-align:center;">This is muh HOME PAGE</h1>

<h2 style="font-family:courier;text-align:center;">Yeah, HOME PAGE</h2>

<p style="font-family:courier;text-align:center;width:48%;padding:10px;float:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ex mollis, posuere libero et, egestas lacus. Donec sollicitudin rutrum placerat. Donec sapien nisi, placerat ac hendrerit vel, sodales eget leo. Proin condimentum ipsum lectus, ut commodo arcu rhoncus quis. Duis sit amet mauris consectetur, volutpat velit et, blandit tortor. Aliquam sed ipsum iaculis, lobortis elit sit amet, vehicula mauris. Aenean porta nunc ut velit posuere, ullamcorper iaculis tellus aliquet. Ut purus tortor, elementum sit amet velit eu, iaculis sodales ante. Sed sodales in enim eu blandit. Duis non condimentum ante.</p>

<p style="font-family:courier;text-align:center;width:48%;padding:10px;float:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ex mollis, posuere libero et, egestas lacus. Donec sollicitudin rutrum placerat. Donec sapien nisi, placerat ac hendrerit vel, sodales eget leo. Proin condimentum ipsum lectus, ut commodo arcu rhoncus quis. Duis sit amet mauris consectetur, volutpat velit et, blandit tortor. Aliquam sed ipsum iaculis, lobortis elit sit amet, vehicula mauris. Aenean porta nunc ut velit posuere, ullamcorper iaculis tellus aliquet. Ut purus tortor, elementum sit amet velit eu, iaculis sodales ante. Sed sodales in enim eu blandit. Duis non condimentum ante.</p>

<p style="font-family:courier;text-align:center;width:100%;padding:10px;float:left;">Go to <%= link_to 'About', about_path %> page</p>

</body>
</html>
